.profile {
  text-align: center;
  width: 20%;
  margin: 0 auto 10rem;
  background-color: #fffefe;
  padding: 2.5rem 0 0 0;
  border: 1px solid rgb(228, 233, 240);
}
.name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.item {
  list-style: none;
  padding: 0.5rem;
  border: 1px solid rgb(228, 233, 240);
  padding: 1rem;
  background-color: rgb(243, 246, 249);
}

.tag {
  margin: 0 auto 0.5rem;
}

.location {
  margin: 0 auto 1rem;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.label {
  font-weight: 300;
}

.quantity {
  font-weight: 700;
}
